<%= form_with(model: entry, class: "contents") do |form| %>
  <% if entry.errors.any? %>
    <%= render Widgets::BrutalCardComponent.new(variant: :danger) do %>
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul class="list-disc ml-6">
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <div class="mt-6">
    <%= form.label :title, class: "block text-sm font-semibold black uppercase" %>
    <div class="border-brutal-radius bg-black block">
      <%= form.text_field :title, class: "bg-white rounded-md px-4 py-3 border-2 border-black font-bold border-brutal-radius focus:outline-0 w-full mt-1 -translate-x-1 -translate-y-1 block" %>
    </div>
  </div>

  <div class="mt-6 border-brutal-radius block bg-black">
    <span class="block bg-white border-2 border-black border-brutal-radius -translate-x-1 -translate-y-2">
      <%= form.marksmith :content, class: "border-brutal-radius border-0", enable_file_uploads: false %>
    </span>
  </div>

  <div class="my-4">
    <%= render Widgets::ButtonComponent.new(text: "Save", type: "submit", variant: :primary) %>
  </div>
<% end %>
