<% content_for :title, "Editing entry" %>

<div class="w-full mx-auto">
  <div class="flex justify-between">
    <h1 class="font-bold text-4xl">Editing entry</h1>
    <div class="flex gap-x-4">
      <%= link_to @entry do %>
        <%= render Widgets::PlainButtonComponent.new do %>
          Show this entry
        <% end %>
      <% end %>
      <%= link_to entries_path do %>
        <%= render Widgets::PlainButtonComponent.new do %>
          Back to entries
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render "form", entry: @entry %>

</div>
