<% content_for :title, "Entries" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Entries</h1>
    <%= link_to "New entry", new_entry_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="entries" class="min-w-full">
    <% if @entries.any? %>
      <% @entries.each do |entry| %>
        <div id="<%= dom_id entry %>" class="border-b border-gray-200 py-5">
          <h1 class="font-bold text-2xl"><%= entry.title %></h1>
          <p class="mt-2"><%= entry.content_for_preview %></p>
          <p>
            <%= link_to "Show this entry", entry, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
          </p>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No entries found.</p>
    <% end %>
  </div>
</div>
