<% content_for :title, "Entries" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Entries</h1>

    <%= link_to new_entry_path do %>
      <%= render Widgets::ButtonComponent.new(text: "New Entry", variant: :primary) %>
    <% end %>
  </div>

  <div id="entries" class="min-w-full gap-y-4 flex flex-col mt-6">
    <% if @entries.any? %>
      <% @entries.each do |entry| %>
        <div id="<%= dom_id entry %>" class="border-brutal-radius bg-black">
          <span class="bg-white border-2 border-black border-brutal-radius -translate-x-1 -translate-y-1 block px-4 py-2">
            <h1 class="font-bold text-2xl"><%= entry.title %></h1>
            <p class="mt-2 mb-2 italic text-gray-800"><%= entry.content_for_preview %></p>
            <p>
              <%= link_to "Show this entry", entry, class: "py-1 font-semibold" %>
            </p>
          </span>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No entries found.</p>
    <% end %>
  </div>
</div>
